body {
    /* background-color: #8bb397; */
    background-image: url("./assets/augustine-wong-li0iC0rjvvg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* main {
    background: white;
} */

.jumbotron {
    /* background: white; */
    /* background-image: url("./assets/augustine-wong-li0iC0rjvvg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #c1d3c6;
}
main {
    /* background-image: url("./assets/augustine-wong-li0iC0rjvvg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #c1d3c6;
}

.card-img {
    width: 200px; 
    margin: 0 20px 20px 0; 
}

.footer {
    text-align: right;
    line-height: 0.75px;
}

.navBottom {
    border-top: 1px solid #333;
    background-color: #999;
}

.navTop {
    border-bottom-style: ridge;
    background-color: #333;
}

.navbar-brand {
    font-size: 25px;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social {
    font-size: 40px;
    margin: 0 5px;
    color: #333;
}

.social:hover {
    color: black;
}

.contactInfo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* .resume {
    margin: 0 10px 20px 5px;
} */

/* p {
    font-family: Arial, Helvetica, sans-serif;
} */

